body {
  margin: 2rem;
  text-transform: lowercase;
}

header {
  text-align: center;
  margin-bottom: 2rem;
}

article {
  border: 1px solid black;
  margin: 1rem auto;
  padding: 0 1rem;
  max-width: 30rem;
  line-height: 140%;
}
